.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fileTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: small;
}

.fileTable td,
.fileTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.fileTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.fileTable tr:hover {
  background-color: #ddd;
}

.fileTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.deleteBtn {
  color: black;
  background-color: lightcoral;
  width: 50px;
  height: 35px;
}
.downloadBtn {
  color: white;
  color: black;
  width: 50px;
  height: 35px;
  background-color: lightgoldenrodyellow;
}
.tableContainer {
  overflow-x: auto;
}
.uploadForm {
  display: flex;
  flex-direction: column;

  border: black solid 1px;
  padding: 5px;
  height: 200px;
  width: 100% ;
  justify-content: space-between;
}
.containerForm {
  display: flex;
  flex-direction: column;

  border: black solid 1px;
  padding: 5px;
  height: 200px;
  width: 100% ;
  justify-content: space-between;
}
.uploadMain {
  display: flex;
  flex-direction: column;
  width: 100%;



}
.searchBar{
  width: 50%;
  margin-bottom: 5px;
}


.ReactCollapse--collapse {
  transition: height 500ms;
}
.formButton{
  width: 20%;
  background-color: lightgoldenrodyellow;
  align-self:center;
}
.adminButton{
  height: 50px;
  font-size: large;
}
.allFiles{
  margin-top: 50px;
  width: 100%;
}